@model PhotoGallery.Models.Photo

<h1>Добавить изображение</h1>

<form method="post">

    <div>
        <label>Название</label>
        <br />

        <input type="text" name="Title" />
    </div>

    <br />

    <div>
        <label>URL изображения</label>
        <br />

        <input type="text" name="Url" style="width:400px;" />
    </div>

    <br />

    <button type="submit">
        Добавить
    </button>

</form>